.modal {
  background-color: white;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  animation: fade 0.2s ease-in-out;
}

.modal h4 {
  font-size: 24px;
  font-weight: normal;
}

.modal .textAccept {
  margin: 10px 0;
  font-weight: 600;
  font-style: italic;
}

.modal .submit {
  height: 40px;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(var(--amarillo));
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.modal .submit:hover {
  background-color: rgb(var(--amarillo) / 0.8);
  color: black;
}

.modal .decline {
  height: 40px;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(220 220 220);
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}